<a id="data-source"></a>
## Data Dictionary for Preprocessed Dataset: Job Growth and Office Real Estate Values
DATR-0316

Judy Chen

**MSA-OCC** SOC occupation title in a given MSA

### Bureau of Labor Statistics (BLS) Data 
*All Quantitative Variables are 10-year annaulized growth (%)

**TOT_EMP**	Estimated total employment rounded to the nearest 10 (excludes self-employed).

**JOBS_1000** - The number of jobs (employment) in the given occupation per 1,000 jobs in the given area. Only available for the state and MSA estimates; otherwise, this column is blank. 

**LOC_QUOTIENT ("LOC QUOTIENT" in May 2010 data)** - The location quotient represents the ratio of an occupation’s share of employment in a given area to that occupation’s share of employment in the U.S. as a whole. For example, an occupation that makes up 10 percent of employment in a specific metropolitan area compared with 2 percent of U.S. employment would have a location quotient of 5 for the area in question. Only available for the state, metropolitan area, and nonmetropolitan area estimates; otherwise, this column is blank.

**A_MEAN** - Mean annual wage 

**A_MEDIAN** - Annual median wage (or the 50th percentile)

### National Council of Real Estate Investment Fiduciaries (NCREIF) Property Index Data

**OCBD Income Return (%)** - 10-year annualized return from income on CBD office properties in a given MSA

**OSUB Income Return (%)** - 10-year annualized return from income on suburban office properties in a given MSA

**Office Income Return (%)** - 10-year annualized return from income on total office properties in a given MSA

**OCBD Apprec Return (%)** - 10-year annualized return from appreciation on CBD office properties in a given MSA

**OSUB Apprec Return (%)** - 10-year annualized return from appreciation on suburban office properties in a given MSA

**Office Apprec Return (%)** - 10-year annualized return from appreciation on total office properties in a given MSA

**OCBD Total Return (%)** - 10-year annualized return on CBD office properties in a given MSA

**OSUB Total Return (%)** - 10-year annualized return on suburban office properties in a given MSA

**Office Total Return (%)** - 10-year annualized return on total office properties in a given MSA

### Example - First Entry:

In [3]:
import os
import pandas as pd
Preprocessed_df=pd.read_excel('/Users/chenmouse/Desktop/GA-Folder/JudyChenGA0316/JC0316/GA Final Project/Preprocessed.xlsx')
Preprocessed_df.head(1)

,MSA-OCC,TOT_EMP,JOBS_1000,LOC_QUOTIENT,A_MEAN,A_MEDIAN,OCBD Income Return (%),OSUB Income Return (%),Office Income Return (%),OCBD Apprec Return (%),OSUB Apprec Return (%),Office Apprec Return (%),OCBD Total Return (%),OSUB Total Return (%),Office Total Return (%)
0,Boston Architecture and Engineering Occupations,0.143743,-0.60453,-0.579625,1.947526,1.867002,0.105327,0.133564,0.114219,0.110515,0.170826,0.127703,0.219394,0.31101,0.31101